## String

In [2]:
msg = "Hello World"

#to find occurance of a string or character
print(msg.find('l'))

2

In [3]:
#replace
msg_1 =msg.replace("World","Universe")
print(msg_1)

Hello Universe

In [5]:
#concatenation
print(msg+' , '+msg_1)

Hello World , Hello Universe

## Numbers

In [8]:
print(round(3.75,1))
print(abs(-5.75))

3.8
5.75

## List, Tuple, Sets

In [13]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
print(courses[0:4])
print(courses[:-4])
print(courses[2:])

['History', 'Geography', 'Maths', 'Physics']
['History', 'Geography']
['Maths', 'Physics', 'Chemistry', 'Biology']

In [15]:
courses.append("Arts")
print(courses)

['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology', 'Arts', 'Arts']

In [16]:
courses_2 = ["Eductaion","Policy"]
courses.insert(0,courses_2)
print(courses)

[['Eductaion', 'Policy'], 'History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology', 'Arts', 'Arts']

In [17]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses_2 = ["Eductaion","Policy"]
courses.extend(courses_2)
print(courses)

['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology', 'Eductaion', 'Policy']

In [19]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses.remove('Maths')
print(courses)

['History', 'Geography', 'Physics', 'Chemistry', 'Biology']

In [20]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses.pop()
print(courses)

['History', 'Geography', 'Maths', 'Physics', 'Chemistry']

In [21]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses.reverse()
print(courses)

['Biology', 'Chemistry', 'Physics', 'Maths', 'Geography', 'History']

In [23]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses.sort(reverse=True)
print(courses)

['Physics', 'Maths', 'History', 'Geography', 'Chemistry', 'Biology']

In [24]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses.sort(key=lambda x: x[1])
print(courses)

['Maths', 'Geography', 'Physics', 'Chemistry', 'History', 'Biology']

In [26]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
sorted_courses = sorted(courses)
print(sorted_courses)
print(courses)

['Biology', 'Chemistry', 'Geography', 'History', 'Maths', 'Physics']
['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']

In [28]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
print(courses.index('History'))

0

In [30]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
for index,course in enumerate(courses,start=1):
    print(index,course)

1 History
2 Geography
3 Maths
4 Physics
5 Chemistry
6 Biology

In [32]:
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
agg_courses = '_'.join(courses)
print(agg_courses)
print(agg_courses.split('_'))

History_Geography_Maths_Physics_Chemistry_Biology
['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']

In [36]:
import copy
#mutable
courses = ["History", "Geography", "Maths", "Physics", "Chemistry", "Biology"]
courses_cpy = courses

print(courses)
print(courses_cpy)

courses_cpy[0] = 'Engineering'

print(courses)
print(courses_cpy)

courses_deep_cpy = copy.deepcopy(courses)
courses_deep_cpy[0] = 'ECE'

print(courses)
print(courses_deep_cpy)

courses_deep_cpy_slice = courses[:]
courses_deep_cpy_slice[0] = 'Nano'

print(courses)
print(courses_deep_cpy_slice)

['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['Engineering', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['Engineering', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['Engineering', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['ECE', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['Engineering', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']
['Nano', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology']

In [38]:
#immutable
courses = ("History", "Geography", "Maths", "Physics", "Chemistry", "Biology")
courses_cpy = courses

print(courses)
print(courses_cpy)

courses_cpy[0] = 'Engineering'

print(courses)
print(courses_cpy)

('History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology')
('History', 'Geography', 'Maths', 'Physics', 'Chemistry', 'Biology')

TypeError: 'tuple' object does not support item assignment

In [12]:
#set
set1 = set()
set2 = set()
for i in range(6):
    set1.add(i)
for j in range(3,8):
    set2.add(j)
print(set1)
print(set2)
print(len(set1), len(set2))

{0, 1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
6 5

In [15]:
#union
print("union : ",set1 | set2)
#intersection
print("intersection : ",set1 & set2)
#superset
print("superset : ",set1>set2)
#subset
print("subset : ",set1<set2)
#disjoint
print("disjoint : ",set1.isdisjoint(set2))
#difference
print("difference : ",set2-set1)
print("exclusive : ",(set1|set2) - (set1&set2))

union :  {0, 1, 2, 3, 4, 5, 6, 7}
intersection :  {3, 4, 5}
superset :  False
subset :  False
disjoint :  False
difference :  {6, 7}
exclusive :  {0, 1, 2, 6, 7}

In [16]:
group = [1,2,3,4,5,6,7,8]
check = [20,11]
group_set = set(group)
check_set  = set(check)
if not group_set.isdisjoint(check_set):
    print("Yes, contains !")
else:
    print("Not contains !")

Not contains !

In [17]:
group = [1,2,3,4,5,6,7,8]
check = [2,11]
if (set(group)&set(check)):
    print("Yes, contains !")
else:
    print("Not contains !")

Yes, contains !

## Dictionary

In [29]:
student = {'name': 'Arunabha', 'age' : 26, 'courses' : ['Maths', 'Nano']}
student['phone'] = 85214796
print(student.get('phone','Not found !'))
student['name'] = 'Raj'
print(student)
student.update({'name':'Jane','age':22,'phone':5858, 'courses':None})
print(student)
del student['age']
print(student)
print(student.pop('name'))
print(student)
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

85214796
{'name': 'Raj', 'age': 26, 'courses': ['Maths', 'Nano'], 'phone': 85214796}
{'name': 'Jane', 'age': 22, 'courses': None, 'phone': 5858}
{'name': 'Jane', 'courses': None, 'phone': 5858}
Jane
{'courses': None, 'phone': 5858}
2
dict_keys(['courses', 'phone'])
dict_values([None, 5858])
dict_items([('courses', None), ('phone', 5858)])

In [32]:
student = {'name': 'Arunabha', 'age' : 26, 'courses' : ['Maths', 'Nano']}
for key,value in student.items():
    print(key,' : ',value)

name  :  Arunabha
age  :  26
courses  :  ['Maths', 'Nano']

## Conditionals & Booleans

In [33]:
a = [1,2,3]
b = a

print(id(a))
print(id(b))

print(a == b)
print(a is b)

1834284121536
1834284121536
True
True

In [34]:
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

print(a == b)
print(a is b)

1834284106240
1834284126656
True
False

In [35]:
a = [1,2,3]
b = a[:]

print(id(a))
print(id(b))

print(a == b)
print(a is b)

1834284132672
1834284126016
True
False

#### False values :
* False
* None
* Zero of any numeric type
* Any empty sequence. ```eg: '',[],()```
* Any empty mapping. ```eg: {}```

## Loops & Iterations

In [2]:
nums = [1,2,3,4,5,6]
for i in nums:
    if i == 3:
        print(f'Found {i}')
        continue
    print(i)

1
2
Found 3
4
5
6

In [10]:
for i in reversed(range(-5,1)):
    print(i)

0
-1
-2
-3
-4
-5

## Functions

In [36]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

student_info('Arunabha','Ghoshal',age=26,house='kamalalaya')

('Arunabha', 'Ghoshal')
{'age': 26, 'house': 'kamalalaya'}

In [45]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

l1 = ['Arunabha',['Ron','Ghoshal']]
d1 = {'age': 26, 'house': 'kamalalaya'}
student_info(*l1,**d1)

('Arunabha', ['Ron', 'Ghoshal'])
{'age': 26, 'house': 'kamalalaya'}